fastlane/README.md
fastlane/report.xml
fastlane/test_output/*
fastlane/fastlanematch
build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.xcscmblueprint
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
.DS_Store
*.dSYM
*.dSYM.zip
*.ipa
*/xcuserdata/*
buck-out/*
.buckd/*
tools/buck
tools/bazel
AppBinary.xcworkspace/*
Project.xcodeproj/*
Watch/Watch.xcodeproj/*
AppBundle.xcworkspace/*
*.xcworkspace
*.xcodeproj
!*_Xcode.xcodeproj
.idea
*/.idea/*
submodules/MtProtoKit/TON/macOS/lib/libtonlibjson.0.5.dylib
submodules/MtProtoKit/TON/macOS/lib/libtonlibjson.dylib
submodules/MtProtoKit/TON/macOS/lib/cmake/Tonlib/TonlibConfig.cmake
submodules/MtProtoKit/TON/macOS/lib/cmake/Tonlib/TonlibConfigVersion.cmake
submodules/MtProtoKit/TON/macOS/lib/cmake/Tonlib/TonlibTargets-release.cmake
submodules/MtProtoKit/TON/macOS/lib/cmake/Tonlib/TonlibTargets.cmake
submodules/MtProtoKit/TON/macOS/lib/fift/Asm.fif
submodules/MtProtoKit/TON/macOS/lib/fift/Fift.fif
submodules/MtProtoKit/TON/macOS/lib/fift/Lisp.fif
submodules/MtProtoKit/TON/macOS/lib/fift/Lists.fif
submodules/MtProtoKit/TON/macOS/lib/fift/Stack.fif
submodules/MtProtoKit/TON/macOS/lib/fift/TonUtil.fif
bazel-bin
bazel-bin/*
bazel-genfiles
bazel-genfiles/*
bazel-out
bazel-out/*
bazel-telegram-ios
bazel-telegram-ios/*
bazel-testlogs
bazel-testlogs/*
xcodeproj.bazelrc
*/*.swp
*.swp
build-input/*
**/*.pyc
*.pyc
submodules/OpusBinding/SharedHeaders/*
submodules/FFMpegBinding/SharedHeaders/*
submodules/OpenSSLEncryptionProvider/SharedHeaders/*
submodules/TelegramCore/FlatSerialization/Sources/*
buildServer.json
configuration_cerf/appstore-configuration.json
provisioning_cerf/fake-codesigning/dev cert sends/development (1).cer
provisioning_cerf/fake-codesigning/dev cert sends/development (2).cer
provisioning_cerf/fake-codesigning/dev cert sends/development (3).cer
provisioning_cerf/fake-codesigning/dev cert sends/development (4).cer
provisioning_cerf/fake-codesigning/dev cert sends/development (6).cer
provisioning_cerf/fake-codesigning/dev cert sends/development.cer
provisioning_cerf/fake-codesigning/profiles/BUILD
provisioning_cerf/fake-codesigning/profiles/BroadcastUploadDev.mobileprovision
provisioning_cerf/fake-codesigning/profiles/Certificates.p12
provisioning_cerf/fake-codesigning/profiles/IntentsDev.mobileprovision
provisioning_cerf/fake-codesigning/profiles/NotificationContentDev.mobileprovision
provisioning_cerf/fake-codesigning/profiles/NotificationServiceDev.mobileprovision
provisioning_cerf/fake-codesigning/profiles/SendsMessengerDev.mobileprovision
provisioning_cerf/fake-codesigning/profiles/ShareDev.mobileprovision
provisioning_cerf/fake-codesigning/profiles/WidgetDev.mobileprovision
provisioning_cerf/fake-codesigning/profiles/development (1).cer
provisioning_cerf/fake-codesigning/profiles/development (2).cer
provisioning_cerf/fake-codesigning/profiles/development (3).cer
provisioning_cerf/fake-codesigning/profiles/development (4).cer
provisioning_cerf/fake-codesigning/profiles/development (5).cer
provisioning_cerf/fake-codesigning/profiles/development.cer
